<div id="<%= dom_id purchase %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= purchase.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Country of purchase:</strong>
    <%= purchase.country_of_purchase %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= purchase.amount %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this purchase", purchase, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this purchase', edit_purchase_path(purchase), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
