<div id="<%= dom_id purchase %>" class="flex flex-col">
  <tr>
    <td class="border border-slate-300 px-4"><%= purchase.date %></td>
    <td class="border border-slate-300 px-4"><%= purchase.user_id %></td>
    <td class="border border-slate-300 px-4"><%= purchase.country_of_purchase %></td>
    <td class="border border-slate-300 px-4"><%= purchase.amount %></td>
  </tr>
</div>